<meta name="decorator" content="index" xmlns:th="http://www.w3.org/1999/xhtml"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script th:src="@{/static/plugins/jqueryjquery-1.9.1.js}"></script>

<script th:inline="javascript">

    var basePath = [[${#httpServletRequest.getContextPath()}]]

</script>
