<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" lang="zh">-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="common"></div>
<h1>这是用户界面--</h1><span><a th:href="@{~/mybatis/login/logoutAction}">注销</a></span>

</body>
</html>
